<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://outer.tealeaf.su/assets/3rdparty/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><i class="fa-solid fa-2x fa-poo"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav h2">
                        {% for item in menu %}
                            <li class="nav-item">
                                <a class="nav-link {{ title == item.title ? 'active' }}" href="{{item.url}}">{{item.microtitle}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% block content %}
        
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

    <style>
        .myCol {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 0.5em;
            padding: 0.5em;
            height: 216px;
            flex-basis: 216px;
            border-color: rgb(0, 0, 0);
        }
        .myCol.myCol-auto
        {
            flex: 0 0 auto;
            width: auto;
        }
    </style>
</body>
</html>